**/__pycache__
**/*.swp
**/*.aux
**/*.bbl
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.toc
**/*.nav
**/*.snm
temp/
**/.ipynb_checkpoints/
trash/
**/assinatura-*.png
otherdocs/
resources/
trash/
